h1{
    text-decoration: violet underline;
    line-height: 2.5;
    letter-spacing: 10px;
}
p{
    text-decoration: pink overline;
    line-height:3.5;
    letter-spacing:1px;
}
*{
    background-color: blue;
    color:aliceblue;
}
#shiv{
    text-decoration:underline;
}
.un{
    text-decoration: red underline;
}
.btn{
    background-color: red;
}
