div:nth-of-type(2n){
    background-color: cadetblue;
}
div:nth-of-type(3n){
background-color: burlywood;
}
section{
    margin-top:100px;
}
div{
    width:200px;
    height:50px;
    text-align: center;
    background-color: #7aa874;
    border:2px solid black;
    margin:10px;
}
#one{
    transform:rotate(180deg);
}
#two{
    transform:scale(0.8);
    transform:translatex(50px);
    transform:skew(35deg);
}
#three{
    transform:translate(45px,45px);
}
#four{
    transform:skew(40deg);
}