div:nth-of-type(2n){
    background-color: cadetblue;
}
div:nth-of-type(3n){
background-color: burlywood;
}
section{
    margin-top:100px;
}
div{
    width:200px;
    height:50px;
    text-align: center;
    background-color: #7aa874;
    border:2px solid black;
    margin:10px;
}
#one{
    transform:rotate(360deg);
}