.container{
    height:600px;
    width:600px;
    background-color: black;;
    color:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:1px;
    text-align: center;
    /* justify-items:end;
    align-items:end; */
    place-items:center;
}
.one{
    width: 100px;
    height: 50px;
    background-color: brown;
    justify-self: start;
    align-self: start;
    align-self:end;
}
.item{
    width: 100px;
    height: 50px;
    background-color: brown;
}