#container{
    height:700px;
    width:60%;
    background-color: azure;
    margin:10px auto;
    border:2px solid black;
    color:white;
    display:flex;
    flex-direction:row;
justify-content: flex-start;
flex-wrap:wrap;
 align-content:flex-start;
}
#org{
    align-self: center;
    flex:2 2 200px;
}
#blue{
    /* flex-basis: 485px; */
flex-grow: 3;
flex-shrink: 2;
}
h1{
    text-align: center;
}
#container div{
    height:100px;
    width:50px;
    text-align: center;
    font-size:1.5em;
}
