 div{
    background-color: pink;
    width:100px;
    height:100px;
    border:3px solid black;
    text-align: center;
margin:20px;
display:inline-block;
}
#static{
    background-color: yellow;;
    position: static;
    top:100px;
    left:100px;
}
#relative{
    background-color: yellow;;
    position: relative;
    top:100px;
    left:100px;
}
#absolute{
    background-color: yellow;;
    position: absolute;
    top:100px;
    left:100px;

}
#fixed{
    background-color: yellow;;
    position: fixed;
    top:100px;
    left:100px;

}
/* card hover effect */
 /* .card{
    width:300px;
    height:300px;
border:2px solid black;
display:inline-block;
margin: 9px;
border-radius: 5px;
box-shadow: 2PX 4PX 10PX black;
 }
 img{
    width:100%;
    border-radius: 5px 5px 0 0;
 }
 .card:hover{
    box-shadow: 4px 4px 30px black;
 } */