
h1{
    font-family:Courier New;
}
p a{
    color:brown;
    background-color: yellow;;
}
nav  a {
    color:pink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p+h3 {
    text-decoration: underline;
}
.upvote + button {
         color:black;
         background-color: bisque;
}
div > input {
    background-color: chocolate;
}
input[type="text"] {
    color:black;
}
input[type="password"] {
    color:green;
}
input[type] {
    background-color: aliceblue;
}

#myId p{
    color:green;
}
button:hover {
    background-color: black;
    color:white;
}
h3:hover{
    text-decoration:none;
}
button:active{
    background-color: black;
    color:pink;
}