.container{
    height: 500px;
    width: 900px;
    background-color: pink;
display:grid;
grid-template-rows:repeat(12,1fr);
grid-template-columns: repeat(12,1fr);
grid-gap:10px;
font-size:1rem;
}

@media(max-width:720px){
    .header{
        grid-column:1/span12;
    }
.navigation{
    grid-column:1/span12;
    grid-row:2;
}
.sidebar{
    grid-column:1/span3;
    grid-row:3/span9;
}
.main{
    grid-column:4/span9;
    grid-row:3/span9;
}
.ads{
    grid-column:1/span3;
    grid-row:12;
}
.footer{
    grid-column:4/span9;
    grid-row:12;
}
}